/target
**/*.rs.bk
.idea/
*.iml
/fido2luks.bash
/fido2luks.elv
/fido2luks.fish
/fido2luks.zsh
/_fido2luks.ps1
/target/package/*/fido2luks.bash
/target/package/*/fido2luks.elv
/target/package/*/fido2luks.fish
/target/package/*/fido2luks.zsh
/target/package/*/_fido2luks.ps1
result
result-*
